.menu {
  display: flex;
justify-content: space-around;
align-items: center;
border-bottom: 1px solid #333;
margin: 20px;
}

.text{
  vertical-align: top;
  padding-right: 8px;
}

.menu a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  transition: color 0.2s, border-bottom 0.2s;
}

.menu a.active {
  color: #28a745;
  border-bottom: 2px solid #28a745;
}

.content {
  padding: 32px;
  min-height: 60vh;
} 